<mat-toolbar>
    <mat-icon class="toolbar-icon"[matMenuTriggerFor]="menu">menu</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="chooseGame"><mat-icon>videogame_asset</mat-icon>Play Mode</button>
  <button mat-menu-item routerLink="Admin"><mat-icon>settings</mat-icon>Admin Mode</button>
</mat-menu>
  <span class="app-name" matTooltip="Hello there!" routerLink="">Little Linguist</span>
    <mat-icon class="toolbar-icon" id="toolbar-user-icon">account_circle</mat-icon>
</mat-toolbar>