<mat-toolbar>
  <button mat-icon-button class="toolbar-icon"[matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>videogame_asset</mat-icon>Play Mode</button>
  <button mat-menu-item><mat-icon>settings</mat-icon>Admin Mode</button>
</mat-menu>
  <span class="app-name" matTooltip="Hello there!">Little Linguist</span>
  <button mat-icon-button class="toolbar-icon" id="toolbar-user-icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>