.toolbar{
    background-color: #ADD8E6;
  }
  
  .toolbar-icon{
    color:floralwhite;
    position: absolute;
    right: 35px;
    cursor: pointer;
  }

  .toolbar-icon:hover{
    color: #043959;
  }