mat-toolbar {
  background-color: #043959;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

mat-toolbar:hover {
  cursor: default;
}

h1 {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: floralwhite;
}

#exitBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0;
  display: flex;
  align-items: center;
}

#exitBtn mat-icon {
  font-size: 24px;
  color: floralwhite;
}

#exitBtn:hover mat-icon {
  color: #d9534f;
  cursor: pointer;
}
