<h3>Results</h3>
<p>Points: {{ points }}</p>
<p>You were correct in {{ numCorrectAns }} out of {{ allAns }} words</p>

<div *ngIf="gameName === 'MixedWordsGame'">
  <table mat-table [dataSource]="mixedWordsGameResults" class="mat-elevation-z8">
    <ng-container matColumnDef="Origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
    </ng-container>
    <ng-container matColumnDef="Target">
      <th mat-header-cell *matHeaderCellDef>Target</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.target }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="Results">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <p *ngIf="!element.isCorrect">
          <mat-icon class="wrongAns">mood_bad</mat-icon>
        </p>
        <p *ngIf="element.isCorrect">
          <mat-icon class="trueAns">mood</mat-icon>
        </p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="mixedWordsGameResultsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: mixedWordsGameResultsColumns"></tr>
  </table>
</div>

<div *ngIf="gameName === 'SortGame'">
  <table mat-table [dataSource]="sortWordsGameResults" class="mat-elevation-z8">
    <ng-container matColumnDef="Origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
    </ng-container>
    <ng-container matColumnDef="currentGameCategory">
      <th mat-header-cell *matHeaderCellDef>Current Game Category</th>
      <td mat-cell *matCellDef="let element">{{ element.currentGameCategory }}</td>
    </ng-container>
    <ng-container matColumnDef="trueWordCategory">
      <th mat-header-cell *matHeaderCellDef>Category of Current Word</th>
      <td mat-cell *matCellDef="let element">{{ element.trueWordCategory }}</td>
    </ng-container>
    <ng-container matColumnDef="Guess">
      <th mat-header-cell *matHeaderCellDef>Guess</th>
      <td mat-cell *matCellDef="let element">{{ element.guess }}</td>
    </ng-container>
    <ng-container matColumnDef="Results">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <p *ngIf="!element.isCorrect">
          <mat-icon class="wrongAns">mood_bad</mat-icon>
        </p>
        <p *ngIf="element.isCorrect">
          <mat-icon class="trueAns">mood</mat-icon>
        </p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="sortWordsGameResultsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: sortWordsGameResultsColumns"></tr>
  </table>
</div>

