<h1>Welcome to the Translate Game!</h1>

<div>
    <mat-form-field appearance="outline">
        <mat-label>Category Id</mat-label>
        <input matInput disabled value="{{currentCategory.CategoryId}}">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="EnglishWord">
        <th mat-header-cell *matHeaderCellDef> English Word </th>
        <td mat-cell *matCellDef="let element"> {{element.Origin}} </td>
    </ng-container>

    <ng-container matColumnDef="HebrewTranslation">
        <th mat-header-cell *matHeaderCellDef> Hebrew Translation </th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="element.UserAnswerTry" pattern="[א-ת\s]+" required
                    #TranslatedWordField="ngModel">
                <mat-error *ngIf="TranslatedWordField.invalid">Translated word must be in Hebrew</mat-error>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="CheckAnswer">
        <th mat-header-cell *matHeaderCellDef> Results </th>
        <td mat-cell *matCellDef="let element">
            <p *ngIf="element.AnswerIsRight == false"><mat-icon class="wrongAns">mood_bad</mat-icon></p>
            <p *ngIf="element.AnswerIsRight == true"><mat-icon class="trueAns">mood</mat-icon></p>
        </td>
    </ng-container>

    <ng-container matColumnDef="Translated">
        <th mat-header-cell *matHeaderCellDef> 
            <button mat-button (mousedown)="onShowTranslation()" (mouseup)="onHideTranslation()">Show
                Translation<mat-icon>visibility</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let element">
            <p *ngIf="showTranslation">
                {{element.Translated}}
            </p>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="buttonNmsg-container">
    <button class="checkTranslateGame" mat-stroked-button (click)="checkUserAnswers()">Check</button>
    <p>{{userAnswerMessage}}</p>
</div>

