<div mat-dialog-content class="dialog">
    Choose Category to Play:
    <br>
    <mat-form-field>
      <mat-select [(value)]="selectedCategory" (selectionChange)="checkGameReady()" required>
        <mat-option *ngFor="let category of categories" [value]="category">{{ category.CategoryName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="this.selectedCategory != undefined">{{selectedCategory.Words.length}} words</p>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="this.selectedCategory != undefined">Last update:{{selectedCategory.LastUpdate | date:'dd/MM/yyyy'}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="true" (click)="playGame()" [disabled]="!selectedCategory || errorMessage != ''">Play</button>
  </div>
