<app-game-header></app-game-header>
<div *ngIf="isGameOn; else gameFinished" class="mixed-words-game">
  <app-game-points [points]="getRoundedPoints()"></app-game-points>
  <h3>The word is in mixed order, please type the original word</h3>
  <p>Mixed: {{ mixedWords[wordIndex].mixed }}</p>
  <p>Hebrew: {{ mixedWords[wordIndex].translated }}</p>
  <div class="mixed-words-game-input-container">
    <div class="input-container">
      <input
        [(ngModel)]="inputValue"
        placeholder="Enter some text"
        required
        class="input"
        (keydown.enter)="checkAnswer()"
      />
    </div>
    <p *ngIf="message" class="message">{{ message }}</p>
    <div class="mixed-words-game-buttons">
      <button *ngIf="showGameButtons" mat-button (click)="resetInput()" class="btn">Reset Input</button>
      <button *ngIf="showGameButtons" mat-button (click)="checkAnswer()" [disabled]="!isInputValid()" class="btn">Check</button>    
  </div>
    <div class="progress-bar-container">
      <span>{{ wordIndex }}</span>
      <mat-progress-bar mode="determinate" [value]="progressValue">
      </mat-progress-bar>
      <span>{{ mixedWords.length }}</span>
    </div>
  </div>
</div>


<ng-template #gameFinished>
  <app-game-summery 
  [points]="points" 
  [numCorrectAns]="numCorrectAns" 
  [allAns]="mixedWords.length" 
  [mixedWordsGameResults]="gameResults">
</app-game-summery>  
<button mat-button (click)="newGame()" class="btn">New Game</button>
</ng-template>
