app-game-header{
   position: fixed;
   top: 8%;
   width: 100%;
}

.sort-words-game {
   text-align: center;
   width: 100%;
   margin: 1em auto;
   padding-top: calc(8% + 1em);
 }
 
.gameBtns{
   display: flex;
   justify-content: center;
   gap: 20px;
}

button {
   border-radius: 20px;
   background-color: #FFC96F;
   color: floralwhite; /* Text color set to floral white */
   width: 160px;
   height: 40px;
   font-size: 1.2em; /* Adjust as needed */
   padding: 0;
   text-align: center;
   line-height: 40px; /* Align text vertically */
 } 
 
button:hover{
   background-color: #FFA62F;
}


.message {
   font-size: 24px;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
   padding: 10px;
   border-radius: 10px;
   transition: all 0.5s ease-in-out;
 }
 
 .message.correct {
   background-color: #e0ffe0; /* Light green background */
   color: #28a745; /* Green text */
   text-shadow: 2px 2px 4px rgba(0, 128, 0, 0.7);
   box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
   border: 2px solid #28a745;
 }
 
 .message.wrong {
   background-color: #ffe0e0; /* Light red background */
   color: #dc3545; /* Red text */
   text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
   box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   border: 2px solid #dc3545;
 }
 
 .message.fade {
   opacity: 0;
   transform: scale(0.9);
 }
 