app-game-header{
   position: fixed;
   top: 8%;
   width: 100%;
}

.sort-words-game {
   text-align: center;
   width: 100%;
   margin: 1em auto;
   padding-top: calc(8% + 1em);
 }
 
.gameBtns{
   display: flex;
   justify-content: center;
   gap: 20px;
}

button {
   border-radius: 20px;
   background-color: #FFC96F;
   color: floralwhite; /* Text color set to floral white */
   width: 160px;
   height: 40px;
   font-size: 1.2em; /* Adjust as needed */
   padding: 0;
   text-align: center;
   line-height: 40px; /* Align text vertically */
 } 
 
button:hover{
   background-color: #FFA62F;
}

.progress-bar-container {
   height: 100px;
   width: 90%;
   padding-top: 1em;
   display: flex;
   justify-content: center;
   gap: 0.5em;
   height: 40px;
   align-items: center;
   position: relative;
 }
 