<div class="choose-category">
  <h1>Choose a category and let's Play!</h1>

  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select [(value)]="selectedCategory">
      @for (category of categories; track category) {
      <mat-option [value]="category">{{ category.categoryName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
    <button
      mat-stroked-button
      [disabled]="!selectedCategory.categoryId"
      [routerLink]="['/translateGame/', selectedCategory.categoryId]"
    >
      Play
    </button>
  </div>
</div>
