<div>
  <h2>Category</h2>
</div>
<form #categoryForm="ngForm">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput name="CategoryName" [(ngModel)]="currentCategory.CategoryName" required
        #CategoryNameField="ngModel">
      <mat-error *ngIf="CategoryNameField.invalid">Category Name is required</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Origin Language</mat-label>
      <input matInput disabled value="English">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Translated Language</mat-label>
      <input matInput disabled value="Hebrew">
    </mat-form-field>
  </div>
  <div>Words:
    <button mat-stroked-button type="button"
      (click)="addWordsPairToCategory()"><mat-icon>add_circle_outline</mat-icon>New Word</button>
  </div>
  <br>
  <div *ngFor="let wordsPair of currentCategory.Words;">
    <mat-form-field appearance="outline">
      <mat-label>Word in English</mat-label>
      <input matInput name="OriginWord{{wordsPair.Origin}}" [(ngModel)]="wordsPair.Origin" pattern="[A-Za-z\s]+" required #OriginWordField="ngModel">
      <mat-error *ngIf="OriginWordField.invalid">Origin word must be in English</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Word in Hebrew</mat-label>
      <input matInput name="TranslatedWord{{wordsPair.Translated}}" [(ngModel)]="wordsPair.Translated" pattern="[א-ת\s]+" required #TranslatedWordField="ngModel">
      <mat-error *ngIf="TranslatedWordField.invalid">Translated word must be in Hebrew</mat-error>
    </mat-form-field>
    <mat-icon (click)="deleteWordsPairToCategory(wordsPair)">delete</mat-icon>
  </div>
  <div>
    <button mat-stroked-button type="submit" (click)="saveCategory()"
      [disabled]="categoryForm.invalid"><mat-icon>save_alt</mat-icon>Save</button>
  </div>
</form>