.header-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.dashboard-header {
  font-size: 2rem;
  flex: 1;
  text-align: center;
}

.challenge-header {
  flex: 2;
  text-align: center;
}

.strike-header {
  flex: 1;
  text-align: center;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 1em;
  cursor: default;
}

.dashboard-card {
  width: 31%;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.1s ease;
}

.dashboard-card:hover {
  box-shadow: 0 0 10px floralwhite, 0 0 20px #add8e6;
}

.card-content {
  display: flex;
  align-items: center;
  width: 100%;
}

img {
  width: 64px;
  margin-top: 10px;
}

mat-card-content {
  font-size: 40px;
  flex-grow: 1;
  text-align: center;
}

.dashboard-card-title {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
